@font-face {
    font-family: Directors;
    font-style: normal;
    src: local("Directors"),
        /* url("/fonts/Directors.woff2") format("woff2"); */
        url("/fonts/Edingu.otf") format("woff2");
    }

.font {
    font-family: Directors;
}

.header--main {
    background-color: #101010;
    margin-bottom: 20px;
}

.footer--main {
    background-color: #101010;
}

.card {
    background-color: #101010;
    padding-top: 45px;
    padding-bottom: 0 !important;
    margin-bottom: 20px;
}

.card--link-img {
    width: 493px;
    padding-top: 7px;
    transition: .3s;
}

.card--link:hover .card--link-img {
    padding-top: 0px !important;
    width: 500px;
}

.card--link-img-2 {
    width: 993px;
    padding-top: 7px;
    transition: .3s;
}

.card--link:hover .card--link-img-2 {
    padding-top: 0px !important;
    width: 1000px;
}

.card--link-img-3 {
    width: 993px;
    padding-top: 7px;
    padding-bottom: 7px;
    transition: .3s;
}

.card--link:hover .card--link-img-3 {
    padding-top: 0px !important;
    width: 1000px;
}

.text-3 {
    font-size: 100px;
}

@media(max-width: 900px) {
    .text-3 {
        font-size: 27px;
    }
}

@media(max-width: 771px) {
    .header--adaptive-pc {
        display: none !important;
    }
}

@media(min-width: 772px) {
    .header--adaptive-mobile {
        display: none !important;
    }
}

.link {
    color: #ddd;
}

.link:hover {
    color: #fff;
}

img {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.header--font-size {
    font-size: 50px;
}

.footer--font-size {
    font-size: 35px;
}

@media(max-width: 900px) {
    .footer--font-size {
        font-size: 23px;
    }

    .header--font-size {
        font-size: 23px;
    }
}
