.shadow-4 {
    -webkit-box-shadow: 13px 34px 27px -16px rgba(0, 0, 255, 0.2);
    -moz-box-shadow: 13px 34px 27px -16px rgba(0, 0, 255, 0.2);
    box-shadow: 13px 34px 27px -16px rgba(0, 0, 255, 0.2);
}

.shadow-3 {
    -webkit-box-shadow: 13px 34px 27px -16px rgb(144, 174, 224);
    -moz-box-shadow: 13px 34px 27px -16px rgb(144, 174, 224);
    box-shadow: 13px 34px 27px -16px rgb(144, 174, 224);
}

.shadow-5 {
    -webkit-box-shadow: 13px 34px 27px -16px rgb(237, 210, 221);
    -moz-box-shadow: 13px 34px 27px -16px rgb(237, 210, 221);
    box-shadow: 13px 34px 27px -16px rgb(237, 210, 221);
}

.padding-name-icon {
    padding: .75rem;
}

.gd-light {
    background: rgb(242, 242, 243);
    background: linear-gradient(61deg, rgba(242, 242, 243, 1) 0%, rgba(248, 249, 250, 1) 44%);
}

/* ADAPTIVE  */
@media (min-width: 880px) {
    .user-logo {
        margin-left: 20px;
        margin-top: 180px;
        margin-bottom: -112px;
    }

    .block-name {
        padding-left: 250px
    }

    .align-icons {
        justify-content: space-evenly !important;
    }
}

@media (max-width: 879px) {
    .user-logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .block-name {
        padding-left: 20px
    }

    .div-img-center {
        text-align: center !important;
    }

    .block-icons {
        flex: 0 0 auto;
        width: 25%;
    }

    .align-icons {
        justify-content: flex-end !important;
    }
}

@media (min-width: 1832px) {
    .block-icons {
        flex: 0 0 auto;
        width: 25%;
    }
}

@media (max-width: 1833px) and (min-width: 880px) {
    .block-icons {
        width: 100%
    }
}

@media (max-width: 659px) {
    .block-icons {
        width: 100%
    }

    .align-icons {
        justify-content: space-evenly !important;
    }
}