.block {
    background: var(--bg-light-1);
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.block .title a {
    font-size: 30px;
    font-family: Geologica-Light;
}

/* Tags */

.tags {
    margin-top: 5px;
}

.tags span {
    border: 1px solid var(--text-color);
    margin: 3px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;

    border-radius: 30px;
}

.block .tags
{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.block .tags span {
    color: var(--text-color-1);
}

.block a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 20px;
}
