.block {
    background: var(--bg-light-1);
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.block .title {
    font-size: 40px;
}

.block .tags
{
    font-size: 20px;
    margin-bottom: 30px;
}

.block .tags span {
    color: var(--text-color-1);
}

.block a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 20px;
}
