@font-face {
    font-family: Geologica-Bold;
    font-style: normal;
    src: local("Directors"),
        url("/fonts/Geologica/Geologica-Bold.woff2") format("woff2"),
        url("/fonts/Geologica/Geologica-Bold.woff") format("woff");
}

@font-face {
    font-family: Geologica-Light;
    font-style: normal;
    src: local("NotoSans"),
        url("/fonts/Geologica/Geologica-Light.woff2") format("woff2"),
        url("/fonts/Geologica/Geologica-Light.woff") format("woff");
}

*, div, p, b, i, a {
    font-family: Geologica-Light;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Geologica-Bold;
}
