.footer--main {
    margin-top: 20px;
    border-top: 1px var(--border-bottom) solid;
}

.footer--font-size {
    font-size: 35px;
}

/* MEDIA */

@media(max-width: 900px) {
    .footer--font-size {
        font-size: 23px;
    }
}
