.footer--main {
    margin-top: 50px;
    margin-bottom: 30px;
}

.footer--font-size {
    font-size: 30px;
}

/* MEDIA */

@media(max-width: 900px) {
    .footer--font-size {
        font-size: 23px;
    }
}
