.header--main {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border-bottom);
}

.header--font-size {
    font-size: 50px;
}

/* MEDIA */

@media(max-width: 771px) {
    .header--adaptive-pc {
        display: none !important;
    }
}

@media(min-width: 772px) {
    .header--adaptive-mobile {
        display: none !important;
    }
}

@media(max-width: 900px) {
    .header--font-size {
        font-size: 23px;
    }
}
