/* #ffffff */
.underline {
    text-decoration: none !important;
    border-bottom: 2px solid #d9d9d9;
    color: #000000 !important;
}

.underline:hover {
    text-decoration: none !important;
    border-bottom: 2px solid #000000;
    color: #000000 !important;
}

.underline-active {
    border-bottom: 2px solid #000000;
    color: #6c757d !important;
}

.underline-image {
    -webkit-filter: brightness(92%);
    filter: brightness(92%);
    transition: .3s;
}

.underline-image:hover {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.underline-left {
    text-decoration: none !important;
    border-left: 2.3px solid #d9d9d9;
    color: #000000 !important;
}

.underline-left:hover {
    text-decoration: none !important;
    border-left: 2.3px solid #000000;
    color: #000000 !important;
}

.underline-left-active {
    text-decoration: none !important;
    border-left: 2.3px solid #000000;
    color: #6c757d !important;
}

/* DARK */
.underline-dark {
    text-decoration: none !important;
    border-bottom: 2px solid #717171;
    color: #ffffff !important;
}

.underline-dark:hover {
    text-decoration: none !important;
    border-bottom: 2px solid #ffffff;
    color: #ffffff !important;
}

.underline-dark-active {
    text-decoration: none !important;
    border-bottom: 2px solid #ffffff;
    color: #6c757d !important;
}

.underline-dark-left {
    text-decoration: none !important;
    border-left: 2.3px solid #717171;
    color: #ffffff !important;
}

.underline-dark-left:hover {
    text-decoration: none !important;
    border-left: 2.3px solid #ffffff;
    color: #ffffff !important;
}

.underline-dark-left-active {
    text-decoration: none !important;
    border-left: 2.3px solid #ffffff;
    color: #717171 !important;
}


.a-list {
    color: rgb(0, 0, 0) !important;
    background-color: #f5f5f5 !important;
}

.a-list:hover {
    color: rgb(0, 0, 0) !important;
    background-color: #d9d9d9 !important;
}

/* ON DARK */

.a-dark-list {
    color: #ffffff !important;
    background-color: #292929 !important;
}

.a-dark-list:hover {
    color: #ffffff !important;
    background-color: #525252 !important;
}

/* IMAGE */
.image-link {
    height: 100%;
    display: block;
}